<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeveloperPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeveloperPortal.styles.css" asp-append-version="true" />
</head>
<body>
    <div style="width:100%;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;padding-top:5px; padding-bottom:10px;margin-bottom:5px">
        <img src="~/logo.png" style="width:100px;padding-left:5px;padding-right:10px;" />
        <a class="navbar-brand" asp-area="" asp-page="/Index">DeveloperPortal</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DeveloperPortal - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>