@model DeveloperPortal.Areas.Document.Models.DMSResult
@using System.Data;

@if (Model?.Data != null && Model.Data.Columns.Count > 0)
{
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                @foreach (DataColumn col in Model.Data.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Data.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available to display</p>
}
