<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDMS" />
                <binding name="BasicHttpBinding_ITemplate" />
                <binding name="BasicHttpBinding_Ivscan" />
                <binding name="BasicHttpsBinding_Ivscan">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IDownTimeScheduler" />
                <binding name="BasicHttpBinding_IDownTimeScheduler1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://43devweb3/TMSWCFService/Template.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemplate"
                contract="TMS.ITemplate" name="BasicHttpBinding_ITemplate" />
            <endpoint address="http://10.43.254.53:8585/Vscan.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Ivscan" contract="VScan.Ivscan"
                name="BasicHttpBinding_Ivscan" />
            <endpoint address="https://10.43.254.53:8585/Vscan.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_Ivscan" contract="VScan.Ivscan"
                name="BasicHttpsBinding_Ivscan" />
            <endpoint address="http://43dmsw2/DMSServiceDev_V4/DMS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDMS"
                contract="DMS.IDMS" name="BasicHttpBinding_IDMS" />
            <endpoint address="http://10.43.20.154/dtservicebasic/DownTimeSchedulerBasicService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDownTimeScheduler"
                contract="DTS.IDownTimeScheduler" name="BasicHttpBinding_IDownTimeScheduler" />
            <endpoint address="http://10.43.20.106/dtserviceBasic/DownTimeSchedulerBasicService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDownTimeScheduler1"
                contract="DTSTest.IDownTimeScheduler" name="BasicHttpBinding_IDownTimeScheduler1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
