@page
@model DeveloperPortal.Pages.Applicant.ProjectRegistrationModel
<div class="form-partial-container">
    <div class="app-form-heading">
        <h2>Project Registration</h2>
    </div>
    <hr />

    <div class="text-danger" style="padding-bottom:3%">
        All fields marked with an asterisk <span aria-hidden="true">(*)</span> are required!
    </div>

    <fieldset>
        <legend class="app-form-heading">Provide Your AcHP Number(s)</legend>
        <span>If you do not know your AcHP Number, please contact your assigned RCS.</span>
        <div class="row" style="padding-bottom:5rem;"></div>
        <div class="row justify-content-md-center">
            <div class="col-md-6 text-center">
                <div class="input-group">
                    @Html.TextBox("AcHPNumber","", new { @class = "form-control", @placeholder="AcHP Number"})

                    <div class="input-group-append">
                        <button id="btnAdd" class="btn btn-primary btn-sm" type="button" style="width:7rem;border-top-right-radius:5px;border-bottom-right-radius: 5px;">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <span style="padding-top:5%;display:inline-block"></span>
        <div id="divProjects">
           
        </div>
    </fieldset>
    <hr />

    <div class="row" style="padding-bottom:5%">
        <div class="col-md-4">
            <button class="btn-primary-outline prevBtn float-left btn-secondary-custom">Back</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="main-btn nextBtn float-right">Next</button>
        </div>
    </div>
</div>
<script>
    
    
    //var ctlIndex = projCount;
    $(document).ready(function () {

        

        $('#btnAdd').on('click', function () {
            //var children = $('#divProjects').children().length;
            console.log('ProjCount: '+ ctlIndex);
            var ctlIndex = GetControlIndex();

            //var ctlIndex = ctlIndex + 1;
            var addr = 'F0200 - 6120 N.Woodman Ave.';
            var divToAdd = '<div class="row justify-content-md-center" id="div' + ctlIndex + '">';
            var divACHPWithAddr = '<div class="col-md-4 border-no-right row-padding">' + addr + '</div>';
            var divDel = '<div class="col-md-2 text-right border-no-left row-padding"><button class="btn btn-outline-secondary btn-sm" type="button" style="border-radius:5px;" id="btnDel' + ctlIndex + '">Delete</button></div>';
            $('#divProjects').append(divToAdd + divACHPWithAddr + divDel + "</div>")
            $('#btnDel' + ctlIndex).on('click', function () {
                var ctlId = $(this).attr('id');
                var idx = ctlId.replace('btnDel', '');
                var divId = 'div' + idx;
                $('#'+divId).remove();
                //$(this).parent().closest('[id]').remove()
            })
        })
    })
</script>
@{
}
