@page
@model DeveloperPortal.Pages.Applicant.SignUpModel

<script src="~/js/jquery-block-ui/blockUICollection.js"></script>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>

<div class="form-panel white-bg mvcvue">
    <div class="form-panel-heading sub-blue">
        <h1 class="white-text">Create an Account</h1>
    </div>

    <div role="navigation" aria-label="Breadcrumb" class="setup-panel">
        <ul id="Sign_progressbar" class="filter-flex-container-2 flex-list nav nav-tabs noprint" style="margin-bottom: 50px;">
            <li role="presentation" class="active wizard-item" aria-disabled="false">
                <a aria-current="step" disabled="disabled" href="#step-1" type="button" role="tab" class="btn form_btn-circle app-circle btn-default btn-primary" aria-selected="true">
                    <span class="roundcircle">
                        <span class="fa fa-dot-circle" style="font-family: 'Font Awesome 5 Free';"></span>
                    </span>
                    <span class="round-tab app-stepper-desc signUpBreadCircles">Your Information</span>
                </a>
            </li>
            <li role="presentation" class="disabled wizard-item" aria-disabled="false">
                <a disabled="disabled" tabindex="-1" href="#step-2" type="button" role="tab" class="btn btn-default form_btn-circle app-circle" aria-selected="false">
                    <span class="roundcircle">
                        <span class="fa"></span>
                    </span>
                    <span class="round-tab app-stepper-desc signUpBreadCircles">Contact Information</span>
                </a>
            </li>
            <li role="presentation" class="disabled wizard-item" aria-disabled="true">
                <a disabled="disabled" tabindex="-1" href="#step-3" type="button" role="tab" class="btn btn-default form_btn-circle app-circle" aria-selected="false">
                    <span class="roundcircle"><span class="fa"></span></span> <span class="round-tab app-stepper-desc signUpBreadCircles">Project Registration</span>
                </a>
            </li>
            <li role="presentation" class="disabled wizard-item" aria-disabled="true">

                <a disabled="disabled" tabindex="-1" href="#step-5" type="button" role="tab" class="btn btn-default form_btn-circle app-circle" aria-selected="false">
                    <span class="roundcircle"><span class="fa"></span></span> <span class="round-tab app-stepper-desc signUpBreadCircles">Summary</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="">
        <div role="form" action="" method="post">
            <div class="setup-content" id="step-1">
                @{
                    var accountModel = new CreateAccountModel();
                    <partial name="CreateAccount" model="accountModel"></partial>
                }   
            </div>
            <div class="setup-content" id="step-2" role="tabpanel">
                @{
                    var contactModel = new ContactMethodsModel();
                    <partial name="ContactMethods" model="contactModel"></partial>
                }
            </div>
            <div class="setup-content" id="step-3" role="tabpanel">
                @{
                    var projRegistrationModel = new ProjectRegistrationModel();
                    <partial name="ProjectRegistration" model="projRegistrationModel"></partial>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var navListItems = $('div.setup-panel ul li a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn'),
            trackUserPosition = 1;

            allWells.hide();

            //get active element
        var activeNavId = $('.wizard-item.active a').attr('href');
        var contentIdToEnable = activeNavId.replace('#','');
        $('#'+contentIdToEnable).show();
    });
</script>

@{
}
