@page
@using DeveloperPortal.Application.ProjectDetail.Interface
@using Microsoft.Extensions.Configuration
@model DeveloperPortal.Pages.Account.SignUpModel
@inject IConfiguration Configuration
@inject IAccountService accountService;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    DeveloperPortal.Models.IDM.UserSession usr = DeveloperPortal.Models.IDM.UserSession.GetUserSession(HttpContextAccessor.HttpContext);
}
<script src="~/js/jquery-block-ui/blockUICollection.js"></script>

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
</style>

<div class="form-panel white-bg mvcvue">
    <div class="form-panel-heading">
        <h1 id="signup-header">Create an Account</h1>
    </div>
    <input id="curformValid" type="hidden" />

    <div role="navigation" aria-label="Breadcrumb" class="setup-panel">
        <ul id="Sign_progressbar" class="filter-flex-container-2 flex-list nav nav-tabs noprint" style="margin-bottom: 5.5em;">
            <li role="presentation" class="active wizard-item" aria-disabled="false">
                <a aria-current="step" disabled="disabled" href="#step-0" type="button" role="tab" class="form_btn-circle app-circle btn-primary" aria-selected="true">
                    <span class="roundcircle">
                        <span class="fas fa-circle" style="font-family: 'Font Awesome 5 Free';"></span>
                    </span>
                    <span class="round-tab app-stepper-desc signUpBreadCircles">Account Type</span>
                </a>
            </li>
            <li role="presentation" class="disabled wizard-item" aria-disabled="false">
                <a aria-current="step" disabled="disabled" href="#step-1" type="button" role="tab" class="form_btn-circle app-circle" aria-selected="false">
                    <span class="roundcircle">
                        <span class="fa" style="font-family: 'Font Awesome 5 Free';"></span>
                    </span>
                    <span class="round-tab app-stepper-desc signUpBreadCircles">Your Information</span>
                </a>
            </li>
            <li role="presentation" class="disabled wizard-item" aria-disabled="false">
                <a disabled="disabled" tabindex="-1" href="#step-2" type="button" role="tab" class=" form_btn-circle app-circle" aria-selected="false">
                    <span class="roundcircle">
                        <span class="fa"></span>
                    </span>
                    <span class="round-tab app-stepper-desc signUpBreadCircles">Contact Information</span>
                </a>
            </li>
            @* <li role="presentation" class="disabled wizard-item" aria-disabled="true">
                <a disabled="disabled" tabindex="-1" href="#step-3" type="button" role="tab" class="form_btn-circle app-circle" aria-selected="false">
                    <span class="roundcircle"><span class="fa"></span></span> <span class="round-tab app-stepper-desc signUpBreadCircles">Project Registration</span>
                </a>
            </li> *@
            <li role="presentation" class="disabled wizard-item" aria-disabled="true">

                <a disabled="disabled" tabindex="-1" href="#step-3" type="button" role="tab" class="form_btn-circle app-circle" aria-selected="false">
                    <span class="roundcircle"><span class="fa"></span></span> <span class="round-tab app-stepper-desc signUpBreadCircles">Summary</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="">
        <div role="form" action="" method="post">
            <div class="setup-content" id="step-0" role="tabpanel">
                @{
                    var accountTypeModel = new AccountTypeModel();
                    <partial name="AccountType" model="accountTypeModel"></partial>
                }
            </div>
            <div class="setup-content" id="step-1" style="display: none;">
                @{
                    string api = Configuration["AreaMgmtAPIURL:PropertyApiURL"];
                    var accountModel = new CreateAccountModel(Configuration);
                    <partial name="CreateAccount" model="accountModel"></partial>
                }
            </div>
            <div class="setup-content" id="step-2" role="tabpanel" style="display: none">
                @{
                    var contactModel = new ContactMethodsModel();
                    <partial name="ContactMethods" model="contactModel"></partial>
                }
            </div>
            @* <div class="setup-content" id="step-3" role="tabpanel" style="display: none">
                @{
                    var projRegistrationModel = new ProjectRegistrationModel(accountService);
                    <partial name="ProjectRegistration" model="projRegistrationModel"></partial>
                }
            </div> *@
            <div class="setup-content" id="step-3" role="tabpanel" style="display: none">
                @{
                    //IConfiguration config = null;
                    var summaryModel = new SummaryModel(Configuration);
                    <partial name="Summary" model="summaryModel"></partial>
                }
            </div>
        </div>
    </div>
</div>

@*Success Pop up*@

<div id="successModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-modal="true" aria-labelledby="divSignupSuccessModalTitle">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="divSignupSuccessModalTitle">Success</h1>
            </div>
            <div class="modal-body text-center">
                <p class="text-center Succescheck-circle"><span class="fas fa-check-circle" aria-hidden="true"><span class="sr-only">Complete</span></span></p>
                <div class="Succes-title">
                    Your account has been created successfully.
                </div>
                <p class="Succes-text">
                    Before you can login, you must activate your account by clicking on the link that was sent to your email address. The link will expire after 24 hours, please activate your account before the link expires. If you did not receive this email, be sure to check your junk/spam folder. If you have entered an incorrect email address, you will need to re-register with the correct email address.
                </p>

                <div class="d-flex Succesbutton">
                    <button id="btnOk" class="btn btn-primary m-0" type="button">Ok</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="errorModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-modal="true" aria-labelledby="divErrorModalTitle">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="divErrorModalTitle">Error</h1>
            </div>
            <div class="modal-body text-center">
                <p class="text-center Succescheck-circle">
                   
                        <span class="sr-only">Error</span>
                    
                </p>
                
                <p id="ErrorMessage" class="Succes-text">
                    <!-- backend error message will appear here -->
                </p>

                <div class="d-flex Succesbutton">
                    <button id="btnErrorOk" class="btn btn-primary m-0" type="button">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var applicantJson = '{"Applicant": [{"step": "YourInfo","Data": ""}, {"step": "ContactInfo", "Data": ""}, {"step": "AccountType","Data": ""}]}';
        localStorage.setItem('ApplicantJson', applicantJson);

          $("#btnOk").on("click", function () {
              var _APPURL ='@Configuration["AppSettings:ApplicationURL"]';
            window.location.href = _APPURL;
        });
        var StepChanged = function f($target) {
            $active = $target || $('.wizard-item.active > a');
            var $parent = $active.parent();
            $('.wizard-item .roundcircle > .sr-only').remove();

            $parent.addClass('active')
                .removeClass('disabled')
                .removeClass('completed')
                .attr('aria-disabled', false)
                .find('.roundcircle > span').attr('class', 'fas fa-circle').attr('style', "font-family: 'Font Awesome 5 Free'");

            $parent.prevAll().addClass('completed')                
                .removeClass('active')
                .removeClass('disabled')
                .attr('aria-disabled', false)
                .find('.roundcircle').append('<span class="sr-only">Complete</span>')
                .find('.fas').attr('class', 'fa fa-check').addClass('dashboard-font-awesome-completed-step'); //added style to enable tick mark in white font

            $parent.nextAll().addClass('disabled')                
                .removeClass('active')
                .removeClass('completed')
                .find('.roundcircle > span').attr('class', 'fa');

            $parent.next().attr('aria-disabled', false);
            $parent.next().nextAll().attr('aria-disabled', true);

            $active.attr('aria-selected', true)
                .attr('aria-current', 'step')
                .removeAttr('tabindex');

            $('.wizard-item > a').not($active).attr('aria-selected', false)
                .removeClass('background-green')
                .removeAttr('aria-current')
                .attr('tabindex', '-1')
                .prop('disabled', true);

            //apply background-color for completed stage
            $('.fa-check').parent().parent().addClass('background-green');

            var stepnumber = $parent.index() + 1;
            var totalSteps = $('.wizard-item').length;
            var sectionTitle = $('.round-tab', $parent).text();
            $('title').text(sectionTitle + ' (Step ' + stepnumber + ' of ' + totalSteps + ') - Resources.Txt_PropertyRegistration - HomeResource.Txt_TitleSuffix');
            return f;
        }();

        var navListItems = $('div.setup-panel ul li a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn'),
            trackUserPosition = 1;

        allWells.hide();

        //get active element
        var activeNavId = $('.wizard-item.active a').attr('href');
        var contentIdToEnable = activeNavId.replace('#', '');
        $('#' + contentIdToEnable).show();

        navListItems.click(function (e) {
            e.preventDefault();
            var checkStep1 = $(this).attr('href');
            var startFlag = false;
            var curFormValid = $("#curformValid").val();
            if (curFormValid === 'false' && $(this).attr('disabled') == 'disabled') {
                return;
            }
            if (checkStep1 == '#step-1' && startFlag == true) {
                return;
            }

            var $target = $($(this).attr('href')),
                $item = $(this);



            if (!$item.hasClass('disabled')) {

                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.attr('aria-hidden', 'true');
                allWells.hide();
                allWells.removeClass("active");
                $target.attr('aria-hidden', 'false');
                $target.addClass("active");

                $target.show();
                $target.find('input:eq(0)').focus();
                StepChanged($item);
            }

        });

        /*var UserName = document.getElementById("idmusername").value;
        var UserNameFromUserSession = 'ComCon.DataAccess.Models.IDM.UserSession.GetUserSession().UserName';*/

        var UserName = '';
        var UserNameFromUserSession = 'Guest';

        var previousStepElement, currentStepElement, nextStepElement, nextNextStepElement;

        if (UserName != "" || UserNameFromUserSession != "Guest") {
            console.log('username blank');
            var curstefromLitedb = 'address'//Html.Raw(Json.Encode(Model.currentStep));
            if (curstefromLitedb == 'address') {
                previousStepElement = $('div.setup-panel ul li a[href="#step-1"]');
                currentStepElement = $('div.setup-panel ul li a[href="#step-2"]');
                var nextStepElement = $('div.setup-panel ul li a[href="#step-3"]'),
                    nextNextStepElement = $('div.setup-panel ul li a[href="#step-4"]');
                //                $('div.setup-panel ul li a[href="#step-2"]').trigger('click');
                currentStepElement.trigger('click');
                previousStepElement.removeAttr('aria-current');
                currentStepElement[0].setAttribute("aria-current", "page");
                currentStepElement.removeAttr('disabled');
                trackUserPosition = 2;
                previousStepElement.removeAttr("disabled");

                /*if ($('#mail_addr_no').is(':checked')) {
                    nextStepElement.removeAttr("disabled");
                } else if ($('#mail_addr_yes').is(':checked') && $("#mailingaddressform").valid()) {
                    nextStepElement.removeAttr("disabled");
                }
                if ($('#alternatecontact_no').is(':checked')) {
                    $("#alternativecontactform").valid()
                    nextNextStepElement.removeAttr("disabled");
                } else if ($('#alternatecontact_yes').is(':checked') && $("#alternativecontactform").valid()) {
                    nextNextStepElement.removeAttr("disabled");
                }*/
            }
            else if (curstefromLitedb == 'alternatecontact') {
                var prePreStep = $('div.setup-panel ul li a[href="#step-2"]'),
                    NextStepElement = $('div.setup-panel ul li a[href="#step-5"]');
                previousStepElement = $('div.setup-panel ul li a[href="#step-3"]');
                currentStepElement = $('div.setup-panel ul li a[href="#step-4"]');
                $('div.setup-panel ul li a[href="#step-4"]').trigger('click');
                previousStepElement.removeAttr('aria-current');
                currentStepElement[0].setAttribute("aria-current", "page");
                trackUserPosition = 4;
                previousStepElement.removeAttr("disabled");
                currentStepElement.removeAttr('disabled');
                prePreStep.removeAttr("disabled");
                if ($('#alternatecontact_no').is(':checked')) {
                    NextStepElement.removeAttr("disabled");
                } else if ($('#alternatecontact_yes').is(':checked') && $("#alternativecontactform").valid()) {
                    NextStepElement.removeAttr("disabled");
                }
            }
            else {
                previousStepElement = $('div.setup-panel ul li a[href="#step-1"]');
                currentStepElement = $('div.setup-panel ul li a[href="#step-2"]');
                var nextStepElement = $('div.setup-panel ul li a[href="#step-3"]'),
                    nextNextStepElement = $('div.setup-panel ul li a[href="#step-4"]'),
                    nextNextNextStepElement = $('div.setup-panel ul li a[href="#step-5"]');
                $('div.setup-panel ul li a[href="#step-2"]').trigger('click');
                previousStepElement.removeAttr('aria-current');
                currentStepElement[0].setAttribute("aria-current", "page");
                currentStepElement.removeAttr('disabled');
                trackUserPosition = 2;
                if ($('#phone_no').is(':checked')) {
                    nextStepElement.removeAttr("disabled");
                } else if ($('#phone_yes').is(':checked') && $("#phoneform").valid()) {
                    nextStepElement.removeAttr("disabled");
                }
                if ($('#mail_addr_no').is(':checked')) {
                    nextNextStepElement.removeAttr("disabled");
                } else if ($('#mail_addr_yes').is(':checked') && checkMailValues) {
                    nextNextStepElement.removeAttr("disabled");
                }
                if ($('#alternatecontact_no').is(':checked')) {
                    nextNextNextStepElement.removeAttr("disabled");
                } else if ($('#alternatecontact_yes').is(':checked') && checkAltValues) {
                    nextNextNextStepElement.removeAttr("disabled");
                }
            }
            StepChanged(currentStepElement);
            currentStepElement.focus();
        }
        else {
            console.log('step-1 click');
            $('div.setup-panel ul li a[href="#step-0"]').trigger('click');
            trackUserPosition = 0;
        }
              

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel ul li a[href="#' + curStepBtn + '"]').parent().prev().children("a"),
                currentStepElement = $('div.setup-panel ul li a[href="#' + curStepBtn + '"]');
            trackUserPosition--;
            prevStepWizard[0].setAttribute("aria-current", "page");
            currentStepElement.removeAttr('aria-current');
            prevStepWizard.removeAttr('disabled').trigger('click');
            StepChanged(prevStepWizard);
            prevStepWizard.focus();
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel ul li a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                currentStepElement = $('div.setup-panel ul li a[href="#' + curStepBtn + '"]'),
                curInputs = curStep.find("input");
                
                console.log('curStepBtn:'+ curStepBtn);
                console.log('nextStepWizard:' + currentStepElement);

            //$(".form-group").removeClass("has-error");
            /*for (var i = 0; i < curInputs.length; i++) {
                if (curInputs.hasClass("error")) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }*/

            /*if (curStepBtn == 'step-1') {
                CheckIfEmpty('FirstName', 'first name', '');
                CheckIfEmpty('LastName', 'last name', '');
                CheckIfEmpty('Email', 'email', '');
                CheckIfEmpty('CompanyName', 'company', '');
                CheckIfEmpty('Title', 'title', '');
                CheckIfEmpty('Password', 'password', '');
                CheckIfEmpty('ConfirmPassword', '', 'Please re-enter the password');
                IsTermsAndConditionsAccepted('divTermsAndConditions', 'termsandconditions');
            }*/

            switch (curStepBtn) {
                case "step-0":
                    CheckIfEmpty('AccountType', '', 'Please select an account type');
                    break;
                case "step-1":
                    CheckIfEmpty('FirstName', 'first name', '');
                    CheckIfEmpty('LastName', 'last name', '');
                    CheckIfEmpty('Email', 'email', '');
                    CheckIfEmpty('CompanyName', 'company', '');
                    CheckIfEmpty('Title', 'title', '');
                    CheckIfEmpty('Password', 'password', '');
                    CheckIfEmpty('ConfirmPassword', '', 'Please re-enter the password');
                    IsTermsAndConditionsAccepted('divTermsAndConditions', 'termsandconditions');
                    break;
                case "step-2":
                    CheckIfEmpty('PhoneNumber', 'phone number', '');
                    CheckIfPOBoxFieldsAreEmpty();
                    CheckIfEmpty('City', 'city', '');
                    CheckIfEmpty('State', 'state', '');
                    CheckIfEmpty('ZipCode', 'zip code', '');
                    CheckIfEmpty('PhoneType', '', 'Please select phone type.');
                    //CheckIfPhoneTypeIsEmpty();
                       //SaveLocalData(curStepBtn);
                    // populateSummary();
                    break;
                case "step-3":
                    console.log("step 3");
                    SaveLocalData(curStepBtn);
                   // populateSummary();
                    LoadSummaryPage();
                    break;
            }

            var errCtls = curStep.find("span.text-danger-custom");
            console.log('errCtls.length:' + errCtls.length);

            if (errCtls.length > 0) { 
                isValid = false; 
                $("#curformValid").val('false'); 
            }
            else { 
                isValid = true; 
                $("#curformValid").val('true'); 
                SaveLocalData(curStepBtn);
                // console.log('ProjectList after SaveLocaldata: ' + localStorage.getItem('ProjectList'));
            }


            console.log('Track position:' + trackUserPosition);
            console.log('$("#curformValid").val():' + $("#curformValid").val());

            if (trackUserPosition != 4) {
                trackUserPosition++
                //Ananth
                //nextStepWizard[0].setAttribute("aria-current", "page");
                currentStepElement.removeAttr('aria-current');
            }
            else {
                //LoadSummaryPage();
            }
            //console.log('$("#curformValid").val() ::' + $("#curformValid").val());
            if ($("#curformValid").val() == 'true') {
                nextStepWizard.removeAttr('disabled').trigger('click');
                StepChanged(nextStepWizard);
                nextStepWizard[0].focus();
            }
        });
    });
</script>

@{
    
}