@page
@model DeveloperPortal.Pages.Account.TermsAndConditionsModel

<div class="card penal-details backgroundwhite" style="margin-left:50px;margin-right:50px;">
    <div tabindex="0" class="card-header disable_click_event">
        <h1 class="card-header-title m-0">
            Terms and Conditions
        </h1>
    </div>

    <div class="card-body table-conten TermsConditions_Hdr_TermsAndConditionst">
        <div class="row m-0">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 style="font-size:16px">Affordable and Accessible Housing Registry</h2>
                    <h3 style="font-size:16px">HCIDLA</h3>
                </div>

                <ol style="list-style: lower-alpha; margin-left:15px;">

                    <!-- General Terms and Conditions -->
                    <li>
                        <h4 style="font-size:15px">GENERAL TERMS AND CONDITIONS</h4>
                        <p>
                            By accessing the AcHP Compliance Website, you (the “User”) ARE CONSENTING TO BE OBLIGATED AND BECOME A PARTY TO THIS AGREEMENT. 
                            IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS BELOW YOU SHOULD NOT ACCESS OR USE THIS WEB SITE.
                        </p>
                        <p>
                            The AcHP Website (“Website”) is presented as a public service that provides Internet accessibility to information 
                            provided by the City of Los Angeles and to other City, State, and Federal information. Due to the dynamic nature of 
                            the information contained on the Website and the Website’s reliance on information from outside sources, the City of Los Angeles 
                            does not guarantee the accuracy or reliability of the information posted on the Website. This Website and all materials contained 
                            on it are distributed and transmitted on an “as is” and “as available” basis without any warranties of any kind, whether expressed 
                            or implied, including without limitation, warranties of title or implied warranties of merchantability or fitness for a particular purpose.
                        </p>
                        <p>
                            The City of Los Angeles is not responsible for any special, indirect, incidental, punitive, or consequential damages that may 
                            arise from the use of, or the inability to use the Website and/or materials contained on the Website, or that result from mistakes, 
                            omissions, interruptions, deletion of files, errors, defects, delays in operation, or transmission, or any failure of performance, 
                            whether the material is provided by the City of Los Angeles or a third-party.
                        </p>
                        <p>
                            The City of Los Angeles is not responsible or liable for any viruses or other contamination of your system or for any delays, 
                            inaccuracies, errors, or omissions arising out of your use of this Website, or with respect to any material contained on the website, 
                            including without limitation, any material posted on the Website.
                        </p>
                        <p>
                            The information provided on this Website, and its links to other related websites, are provided as a courtesy to our Website 
                            visitors only, and are in no manner an endorsement, recommendation, or approval of any person, any product, or any service 
                            contained on any other website.
                        </p>
                        <p>
                            Unauthorized copying, reproduction, republishing, uploading, downloading, posting, transmitting or duplicating any of the 
                            material is prohibited. You may download or copy any downloadable materials displayed on the Website for home, noncommercial, 
                            and personal use only, provided that you maintain all copyright, trademark and other notices contained in such material and you 
                            agree to abide by all additional copyright notices, information or restrictions contained in any material accessed through the Website.
                        </p>
                    </li>

                    <!-- Enrollee Terms and Conditions -->
                    <li>
                        <h4 style="font-size:15px">ENROLLEE TERMS AND CONDITIONS</h4>
                        <p>
                            By enrolling in the Accessible Housing Program (“AcHP”) Compliance Website (“Website”), you (the “Property Owner/Manager/Disability Coordinator”) 
                            agree to the above General Terms and Conditions and the Enrollee Terms and Conditions below. If you elect not to agree to these Terms and Conditions, 
                            you will not be enrolled in the Website.
                        </p>
                        <p>
                            The enrollee Terms and Conditions apply only to those Property Owners/Managers/Disability Coordinator that have signed up for the use of the Website. 
                            You will receive an e-mail confirming enrollment within one (1) business day following completion of the online enrollment process. By enrolling in the Website, 
                            you shall have the option to view your account, sign up for the Fair Housing & Accessibility Workshop for Property Owners and Managers of City-Assisted Affordable 
                            Housing and other trainings offered, access the compliance status related to accessibility and disability of your property, and upload required reports and data 
                            pursuant to the City’s AcHP.
                        </p>
                        <p>
                            During enrollment, you will be required to create a UserID and Password and must have a valid e-mail address and property ID number to complete enrollment. 
                            You may make administrative changes, such as changing the Password or updating contact information. You must agree to keep your Password confidential. 
                            If you forget the Password, you may reset it online by completing certain verification procedures.
                        </p>
                        <p>
                            You understand and agree that you have sole responsibility for the security of your Password. The HCIDLA is not liable for any actions, claims, costs, 
                            damages or expenses arising from a stolen or lost Password.
                        </p>
                        <p>
                            If you have any questions or concerns about this Terms and Conditions, please send us an email at hcidla.achp@lacity.org.
                        </p>
                        <p>
                            The City of Los Angeles reserves the right to modify, update, or alter these Terms and Conditions of use at any time. 
                            Your continued use of this Website constitutes your agreement to comply with such modifications.
                        </p>
                        <p>
                            This Agreement shall be governed by, construed, and enforced in accordance with the laws of the State of California as applied 
                            to agreements made and to be performed entirely therein. Any action brought to enforce the Agreement and/or in connection with 
                            this web site shall be brought in either the state or federal courts in the County of Los Angeles County, State of California.
                        </p>
                    </li>

                    <!-- Google Translate Disclaimer -->
                    <li>
                        <h4 style="font-size:15px">GOOGLE&trade; TRANSLATE DISCLAIMER</h4>
                        <p>
                            Translation of pages on City of Los Angeles websites, including this site, may be performed by Google&trade; Translate, a free 
                            third-party service that the City does not control. This translation service is only provided as a convenience to assist web 
                            visitors in understanding information on this website in a language other than English. The translations are made through 
                            automated computer translation software that may not give you an accurate or precise translation. Some applications or services 
                            may not work as expected when translated. In addition, some files and other items may not translate or cannot be translated 
                            including, but not limited to, graphics, photos and documents. 
                        </p>
                        <p>
                            Any person relying on information obtained through Google&trade; Translate does so at his or her own risk. The City of Los Angeles 
                            does not warrant or make any promises, assurances, or guarantees as to the accuracy of the translations provided by Google&trade; Translate. 
                            As such, the City of Los Angeles shall not and will not be liable for damages or losses of any kind arising out of, or in connection with, 
                            the use or performance of such information, including but not limited to, damages or losses caused by reliance upon the accuracy, 
                            reliability or timeliness of any such information, or damages incurred from the viewing, distributing, or copying of such materials.
                        </p>
                        <p>
                            If you are concerned about the accuracy of the translation, please refer to the English edition of the website, which is the official version. 
                            Please click the following link if you have any questions or for more information about Google&trade; Translate: 
                            <a target="_blank" href="http://translate.google.com/support">http://translate.google.com/support</a>
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
