<div id="loadingOverlay" style="display:none;">
    <div class="loading-overlay-background"></div>
    <div class="loading-overlay-message" style="text-align: center; margin: auto;">
        <div class="spinner-border text-primary" role="status"></div>
        <div style="font-weight: bold;">Loading, please wait...</div>
    </div>

</div>
