
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
   
    DeveloperPortal.Models.IDM.UserSession usr = DeveloperPortal.Models.IDM.UserSession.GetUserSession(HttpContextAccessor.HttpContext);
}

<ul class="nav navbar-nav navbar-right">
@if (usr.UserID != 0)    
{
    <li class="nav-item">
           <a class="Accountbtn" aria-label="My Account" href="@Url.Action("LogOff", "Login")">Logout</a>
    </li>  
    <li class="nav-item">
            @Html.ActionLink("My Account", "MyAccount", "Account", routeValues: null, htmlAttributes: new { id = "btnMyAccount", @class = "btn btn-info" })
    </li>
   @* <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Login/LogOff" asp-route-returnUrl="@Url.Action("LogOff", "Login")">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>*@
}
else
{
      @*   <li>
            <a class="nav-link-basic" href='Account/signup' id="registerLink">
                Sign Up
            </a>
        </li>
        <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li> *@
}
</ul>
