@page "/pages/{fullProjectNumber}"
@model DeveloperPortal.Pages.ProjectDetails.IndexModel
@{
    var fullProjectNumber = "";
}
<div class="row" style="background-color: #001D80;top:0px;padding-top:2%;margin-top:-11px;">
    <div class="col-md-6" style="color: white;  background-color: #001D80;padding: 0px 50px;">
        @fullProjectNumber
        <span style="font-size: 320%;display:inline-block">Welcome to the AcHP Construction/Retrofit Third-Party Portal</span>
        <span style="display:inline-block;font-size:130%">This is your one stop shop for uploading and receiving property files</span>
        <span style="display:inline-block;font-size:80%;margin-top:15%;padding-bottom:2%">This website is not to be confused for our Affordable and Accessible <b><a href="#" style="color:#fff;text-decoration:underline">Housing Registry</a></b></span>
    </div>
    <div class="col-md-6" style="margin-top: -20px; margin-bottom: 10px;">
        <div style="background:url(../Images/imgManWriting.jpg) no-repeat;width:100%;height:98%;background-size:cover">
            <img style="width:100px;float:right " src="/Images/imgAccessibility.png">
        </div>
    </div>
</div>
