@page
@model DeveloperPortal.Pages.DashboardModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	DeveloperPortal.Models.IDM.UserSession usr = DeveloperPortal.Models.IDM.UserSession.GetUserSession(HttpContextAccessor.HttpContext);
}
<div class="container">
	<div class="container-lahd">
		<h3 class="title text-primary m-0">My Dashboard</h3>
		<!-- THIS IS NOTIFICATION POPUP FOR NOW WE ARE HIDING IT AS PER requirement we will work on this-->
		<!-- Notification Window -->
		@Html.AntiForgeryToken()
		<!-- End Notification Window -->

		<!-- Project Notification -->
		<div class="project-notifications mt-3 mb-4" style="display:none">
			<div class="bg-warning1 p-3 text-center rounded position-relative">
				<span class="close-btn"></span>
				<p></p> <!-- Filled dynamically -->
			</div>
		</div>
		<!-- End Project Notification -->
		<!-- Table Content-->
		@if (usr.Roles?.Contains("Property Developer") == true)
		{
			<div class="row dashboard-header-row">
				<div class="col-md-12 button-container text-right mb-3">
					<button class="edit-project-button btn btn-primary btn-lg" onclick="Dashboard.DisplayModal()">Find & Link Project(s)</button>
				</div>
			</div>
		}

		<div class="row">
			<div class="col-md-12">
				<div class="dashboard-summary-container content-box">
					<span class="dashboard-summary-header">
						My Projects
					</span>
					<div style="height:88.5%;overflow:auto;scroll-behavior:smooth;scrollbar-width:thin">
						<table id="tblMyProjects" class="display" style="width:100%">
							<thead>
								<tr>
									<th>ACHP Number</th>
									<th>Project Name</th>
									<th>Project Address</th>
									<th>Project Type</th>
									<th>Status</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="display:none">
			<div class="col-md-4">
				<div class="dashboard-summary-container content-box">
					<span class="dashboard-summary-header text-bold">
						New Projects Submitted
					</span>
					<div style="height:88.5%;overflow:auto;scroll-behavior:smooth;scrollbar-width:thin">
						<table id="tblNewProjects" class="display" style="width:100%">
							<thead style="display:none">
								<tr>
									<th>Name</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dashboard-summary-container content-box">
					<span class="dashboard-summary-header text-bold">
						Plan Review
					</span>
					<div style="height:88.5%;overflow:auto;scroll-behavior:smooth;scrollbar-width:thin">
						<table id="tblPlanReview" class="display" style="width:100%">
							<thead style="display:none">
								<tr>
									<th>Name</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dashboard-summary-container content-box">
					<span class="dashboard-summary-header text-bold">
						Site Inspection
					</span>
					<div style="height:88.5%;overflow:auto;scroll-behavior:smooth;scrollbar-width:thin">
						<table id="tblSiteInspection" class="display" style="width:100%">
							<thead style="display:none">
								<tr>
									<th>Name</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dashboard-summary-container content-box">
					<span class="dashboard-summary-header text-bold">
						NAC
					</span>
					<div style="height:88.5%;overflow:auto;scroll-behavior:smooth;scrollbar-width:thin">
						<table id="tblNACInspection" class="display" style="width:100%">
							<thead style="display:none">
								<tr>
									<th>Name</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dashboard-summary-container content-box">
					<span class="dashboard-summary-header text-bold">
						Completed Certification
					</span>
					<div style="height:88.5%;overflow:auto;scroll-behavior:smooth;scrollbar-width:thin">
						<table id="tblCompletedCert" class="display" style="width:100%">
							<thead style="display:none">
								<tr>
									<th>Name</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!--modal-->
		<div class="modal fade" id="ActionModal" tabindex="-1" role="dialog"
			 aria-labelledby="ActionModalLabel" aria-hidden="true"
			 data-bs-backdrop="static" data-bs-keyboard="false">
			<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				<!-- Centered modal -->
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header  text-white" style=" background-color : #2C3E5C !important">
						<h5 class="modal-title text-white" id="ActionModalLabel">Find & Link Project(s)</h5>
						<!-- Disabled X close -->
						<!-- <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button> -->
					</div>

					<!-- Modal Body -->
					<div class="modal-body">

						<!-- Start main tab div -->
						<div class="lahd-main-tabs">
							<!-- Tabs -->
							<div class="tabs">
								<div class="tab active" data-tab="1">AcHP Number</div>
								<div class="tab" data-tab="2">APN </div>
							</div>

							<!-- Tab Content -->
							<!-- Start AcHP number search content -->
							<div class="tab-content active" id="tab-1">
								@* <p class="small text-danger mb-3">All fields marked with an asterisk (*) are required!</p>
								<h5>Provide your AcHP Number(s)</h5>
								<p class="small mb-3">If you do not know your AcHP Number, please contact your assigned RCS.</p> *@

								<form id="projectForm" method="post">
									<div class="form-group">
										<label for="acHpInput" class="font-weight-bold required">AcHP Number </label><span class="text-danger">*</span>
										<div class="input-group">
											<input type="text" id="acHpInput" class="form-control" placeholder="AcHP Number" required>
											<div class="input-group-append">
												<button class="btn btn-primary" type="button" onclick="Dashboard.addProject()">Search</button>
											</div>
										</div>
										<div id="acHpError" class="text-danger mt-1" style="display: none;">Please enter an AcHP Number.</div>
										<div id="noData" class="text-danger mt-1" style="display: none;">No data found.</div>
										<div id="validationMessage" class="text-danger mt-1" style="display: none;"></div>
									</div>
									<!-- Project List -->
									<div id="divProjects" class="mb-3"></div>
									<div class="modal-footer d-flex justify-content-end pl-3 pr-3 pb-3">
										<button class="btn btn-primary" type="button" onclick="Dashboard.handleSubmit()">Submit</button>
										@* <button type="submit" class="btn btn-primary" asp-page-handler="SubmitAcHP" form="projectForm">Submit</button> *@
										<button type="button" class="btn btn-secondary" onclick="$('#ActionModal').modal('hide')">Cancel</button>
									</div>



								</form>
							</div>
							<!-- End AcHP number search content -->
							<!-- Start APN Search -->
							<div class="tab-content" id="tab-2">
								<form action="APNForm">
									<label for="APNInput" class="form-label fw-bold mb-0">Search APN</label>
									<span class="text-danger">*</span>
									<small class="text-muted d-block mb-2">Enter the 10-digit APN (numbers only, no dashes).</small>

									<div class="input-group mb-3">
										<input type="text" id="APNInput" class="form-control" placeholder="APN" maxlength="10" inputmode="numeric" pattern="\d{10}"
											   oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
										<div class="input-group-append">
											<button class="btn btn-primary" type="button" id="searchAPNButton" onclick="Dashboard.GetAPNProject()">Search</button>
										</div>
									</div>
									<div id="APNError" class="text-danger mt-1" style="display: none;">Please enter a 10 digit APN Number.</div>

									@* Modified with new requirement - ekim on 10 / 12 / 2025 *@
									<!--  APN not found UI Logic -->

									<div id="noAPNData" class="alert alert-warning mt-2" style="display:none;">
										We couldn't find the APN you entered. Please verify your APN, then fill out 
										the form below to create a new project and link it to your account.
									</div>

									<div id="validationMessageAPN" class="text-danger mt-1" style="display: none;"></div>

									@* Removed ExistingProjectNameId block as per new requirement - ekim on 10 / 12 / 2025 *@
									@* Let user go ahead and create project entry with new APN and not have mapping to an existing Project *@

@* 									<div id="ExistingProjectNameId" style="display: none;">
										<div class="table-container">
											<p>We found one or more projects with this APN. Select an existing project to link to your account, or enter the project address, project name, and primary site (property) name.</p>

											<table id="tblExistingProjectDetails" class="table table-bordered align-middle">
												<thead>
													<tr>
														<th scope="col">ACHP #</th>
														<th scope="col">Project Name</th>
														<th scope="col">Action</th>
													</tr>
												</thead>
												<tbody>
													
												</tbody>
											</table>
										</div>

									</div> *@

									<div id="CreateNewProjectId" style="display: none;">
										<div id="cantfindproject">
											Create New Project and link to your account
										</div>
									</div>

									<div id="ProjectMeta" style="display: none;">
										<!-- Project Name Row -->
										<div class="row mb-3 align-items-center">
											<!-- Label column: takes up 4 of 12 columns on medium screens and up -->
											<label for="projectNameInput" class="col-md-4 col-form-label">Project Name<span class="text-danger">*</span></label>
											<!-- Input column: takes up 8 of 12 columns on medium screens and up -->
											<div class="col-md-8">
												<input type="text" class="form-control" id="projectNameInput" name="projectName" placeholder="Please Enter Project Name">
											</div>
										</div>

										<!-- Property Name Row -->
										<div class="row mb-3 align-items-center">
											<label for="propertyNameInput" class="col-md-4 col-form-label">Property Name<span class="text-danger">*</span></label>
											<div class="col-md-8">
												<input type="text" class="form-control" id="propertyNameInput" name="propertyName" placeholder="Please Enter Property Name">
											</div>
										</div>
									</div>

									<div id="SiteAddressSelection" style="display: none;">
										<div class="form-check mb-3">
											<label for="SiteAddressControlSelect">Project Address</label><span class="text-danger">*</span>
											<select class="form-control" id="SiteAddressControlSelect" name="siteAddress">
												<option value="" disabled selected>Select Project Address</option>
											</select>
										</div>
										<div class="form-check mt-2">
											<input id="manualAddressCheck" type="checkbox" class="form-check-input" onclick="Dashboard.toggleManualAddress()" />
											<label class="form-check-label" for="chkManualAddr">I can't find the site address — I’ll enter it manually</label>
										</div>

									</div>


									<!-- Manual address - This shows when a user selects the manual input option or when the APN is not found-->

			
									<div id="ManualAddressForm" class="border rounded p-3 mb-3" style="display:none;">
										<div class="row g-3">
											<!-- House Number -->
											<div class="col-lg-3 col-md-4">
												<label for="ma_house" class="form-label">House # <span class="text-warning">*</span></label>
												<input id="ma_house" type="text" class="form-control">
											</div>

											<!-- House Fraction -->
											<div class="col-lg-3 col-md-4">
												<label for="ma_frac" class="form-label">House Fraction</label>
												<input id="ma_frac" type="text" class="form-control">
											</div>

											<!-- Pre-Direction -->
											<div class="col-lg-3 col-md-4">
												<label for="ma_predir" class="form-label fw-bold">Pre-Direction</label>
												<select id="ma_predir" class="form-control">
													<option value="" selected>Choose...</option>
													<option>N</option>
													<option>S</option>
													<option>E</option>
													<option>W</option>
													<option>NE</option>
													<option>NW</option>
													<option>SE</option>
													<option>SW</option>
												</select>
											</div>

											<!-- Street Name -->
											<div class="col-md-6">
												<label for="ma_street" class="form-label fw-bold">Street Name <span class="text-warning">*</span></label>
												<input id="ma_street" type="text" class="form-control">
											</div>

											<!-- Street Type -->
											<div class="col-lg-3 col-md-4">
												<label for="ma_streettype" class="form-label fw-bold">Street Type</label>
												<select id="ma_streettype" class="form-control">
													<option value="" selected>Choose...</option>
													<option>St</option>
													<option>Ave</option>
													<option>Blvd</option>
													<option>Dr</option>
													<option>Rd</option>
													<option>Ln</option>
													<option>Pl</option>
												</select>
											</div>

											<!-- City -->
											<div class="col-md-6">
												<label for="ma_city" class="form-label">City <span class="text-warning">*</span></label>
												<input id="ma_city" type="text" class="form-control">
											</div>

											<!-- Zip -->
											<div class="col-md-4">
												<label for="ma_zip" class="form-label">Zip <span class="text-warning">*</span></label>
												<input id="ma_zip" type="text" class="form-control">
											</div>
										</div>
									</div>


									<div class="modal-footer d-flex justify-content-end pl-3 pr-3 pb-3">
										<button class="btn btn-primary" type="button" id="submitButton" onclick="Dashboard.handleSubmitAPN()">Submit</button>
										<button type="button" class="btn btn-secondary" onclick="$('#ActionModal').modal('hide')">Cancel</button>
									</div>

								</form>

							</div>
							<!-- End APN Search -->
							<!-- End Tab Content -->

						</div>
						<!-- End main tab div -->
					</div>

					<!-- Modal Footer -->


				</div>
			</div>
		</div>
		<!--End modal-->
		<!--End Table Content-->
	</div>

	<button class="toggle-btn notification-icon">
		<svg width="34" class="bell" viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2a6 6 0 0 0-6 6v3.5L4 14v1h16v-1l-2-2.5V8a6 6 0 0 0-6-6zM8 21a4 4 0 0 0 8 0H8z" /></svg>
	</button>
</div>

@section Scripts {
	<!-- Load Dashboard.js first -->
	<script src="~/pagescripts/dashboard/dashboard.js"></script>

	<!-- Then safely call its methods -->
	<script>
		$(document).ready(function () {
			Dashboard.init();
			Dashboard.PopulateMyProjectData();



			$(".tab").click(function() {
				var tabId = $(this).data("tab");

				// Remove active from all tabs and contents
				$(".tab, .tab-content").removeClass("active");

				// Activate clicked tab and its content
				$(this).addClass("active");
				$("#tab-" + tabId).addClass("active");
			});

		});

		//// Notification button
		// $(document).ready(function () {
		//   $(".toggle-btn").click(function () {
		// 	$(".notification-sidebar").toggleClass("open");
		//   });
		// });

	</script>
	<style>
		#tblMyProjects_wrapper .disabled {
			background: #808080 !important;
			cursor: not-allowed !important;
		}

			#tblMyProjects_wrapper .disabled:hover {
				background: #808080 !important;
				cursor: not-allowed !important;
			}
	</style>

}