@page
@model DeveloperPortal.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<div style="text-align: center;">
    <h2>FAQ</h2>
    <ul>
        <li>Who is this website for?</li>
        <li>How do I submit a compliance matrix?</li>
    </ul>
</div>

