@page "/"
@model DeveloperPortal.Pages.Account.SignUpModel

<div class="bg-light-gray">
    <div class="container landing-page-container pt-8 pb-8 d-flex align-items-center ">
        <div class="h-100">

            <div class="text-center mb-5">
                <h1>Welcome to the ACHP Construction Portal</h1>
                <h2>Submit and track your Accessible Housing Program plan documents online.</h2>
            </div>

            <form id="landing-signin">
                <div class="d-flex justify-content-center gap-3">

                    <div class="pr-2">
                        <button type="submit" class="landing-signin-button btn btn-primary btn-lg" id="btnSignIn">Sign In</button>
                    </div>

                    <div class="pl-2">
                            <button type="submit" class="landing-signup-button btn btn-outline-dark btn-lg" id="btnSignUp">Sign Up</button>
                    </div>

                </div>

                <div id="loginError" style="color: red; margin-top: 1em; width:100%;"></div>
            </form>
        </div>
    </div>
</div>




<script>

        document.getElementById("btnSignIn").addEventListener("click", function () {
        window.location.href = '@Url.Action("Login", "Account")';
    });

    document.getElementById("landing-signin").addEventListener("submit", async function(evt) {
        evt.preventDefault();
    });
  

   
    document.getElementById('btnSignUp').onclick = function() {
    window.location.href = APPURL + 'Account/SignUp';
    };
</script>


