
/* Header */
.lahd-header .global-topbar{ min-height: 47px;}
.lahd-header .top-right-icons .icon{ border-radius: 4px; padding: 5px 8px; color: #fff; height: 32px; margin-left: 10px; border: 1px solid #fff; align-items: center !important; display: flex; justify-items: center;}
.lahd-header .lahd-logo img{ width: 164px; margin-left: 5px;}
/* HTML: <div class="triangle"></div> */
.triangle {
  width: 150px;
  aspect-ratio: 1;
  clip-path: polygon(0 100%,100% 0,100% 100%);
  background: linear-gradient(45deg,#FA6900,#C02942);
}
.ttp-user-dropdown .user-btn { background-color: #CA6E24; color:#fff; width: 36px; height: 36px;  border-radius: 50%; display: flex; justify-content: center !important; align-items: center !important; border: none !important; outline: none !important; margin-bottom: 8px; font-weight:bold;}

.ttp-user-dropdown .user-btn::after {  display: none !important; }
/* End Header */

._custome-header {
	font-family: Verdana, Arial !important;
}


/* landing page body bg */
.bg-light-gray {
	background-color: #d7e5ef;
}


.landing-page-container {
	max-width: 1000px !important;
	min-height: 560px;
}

	.landing-page-container h1 {
		font-weight: 700;
		font-size: 3.2rem;
		color: #000;
	}

	.landing-page-container h2 {
		color: #333;
		font-size: 1.1rem;
	}

	.landing-page-container .btn {
		min-width: 160px;
	}



.goog-te-gadget .goog-te-combo {
	font-family: 'Verdana', Arial !important;
}

body {
	/*font-family: Quicksand,Helvetica,Arial,sans-serif;*/
	font-family: 'Verdana', Arial !important;
	background: #F2F2F2 !important;
	-webkit-transition: background-color .3s ease;
	font-weight: 400;
	max-width: 100%;
	font-size: 14px !important;
}

/* Page Content */
.page-content{ min-height: 500px;}
project-notifications {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto 20px;
}

.project-notifications p {
	color: #fff;
	font-size: 18px;
	margin-bottom: 0px;
}

	.project-notifications p a {
		color: #fff;
		text-decoration: underline;
	}

		.project-notifications p a:hover {
			color: #fff;
			text-decoration: none;
		}

.bg-warning1 {
	background-color: #006381 !important;
}


.landing-signin-field {
	margin-bottom: 1em;
}

	.landing-signin-field input {
		width: 100%;
		box-sizing: border-box;
		padding: 0.75rem 1rem;
		border-radius: 4px;
		font-size: 1rem;
		color: #1a1a1a;
		outline: none;
		transition: box-shadow 0.2s ease-in-out;
		border: 1px solid #ccd1d9;
	}

		.landing-signin-field input:focus {
			box-shadow: 0 0 0 3px rgba(0, 97, 255, 0.25);
		}

.landing-signin-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
}

/* Font Size */
.font-14 {
	font-size: 14px;
}

.font-15 {
	font-size: 15px;
}
/* End Font Size */

/* End Page Content */

/* Footer */
.lahd-footer .footer-logo img { max-width: 135px;}
.lahd-footer .footer-nav a{ color:#003399!important;}
.lahd-footer .footer-nav a:hover{ color:#0a58ca!important;}
.lahd-footer .social-media-icons { display: flex;}
.lahd-footer .social-media-icons li{ margin: 0 10px; list-style: none; padding: 0px;}
.lahd-footer .social-media-icons li a { display: flex; width: 32px; height: 32px; align-items: center !important; justify-content: center !important; text-decoration: none; background-color: #013b4c; border-radius: 50%; color: #fff;}
.lahd-footer .social-media-icons li a:hover { background-color: #2c3e5c; }
.lahd-footer .max-btn-h { max-height: 38px;}
/* End Footer */

@media (max-width: 575.98px) {
	.lahd-header .lahd-left-content .website-title{ display: none!important;}
}