html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/*
.edit-project-button {
    float: right;
    margin-bottom: 8px;
    background-color: #2C3E5C;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}*/

/* application styles */
.dashboard-summary-container {
    width: 100%;
    border: solid 1px #dadada;
    display: inline-block;
    float: left;
    min-height: 300px;
}

.dashboard-summary-header {
    background-color: white;
    font-weight: 600;
    padding: 12px;
    width: 100%;
    display: inline-block;
    border: solid 1px #ccc !IMPORTANT;
    border-radius: 6PX 6px 0px 0px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10);
    padding-left: 15px;
}

.text-color {
    color: black;
}

.welcome-box {
    width: 100%;
    /*border: solid 1px #ccc;*/
    text-align: center;
    margin-bottom: 10px;
}

    .welcome-box h2 {
        color: #001D80;
        font-size: 25px;
    }

.dashboard-content {
    width: 100%;
    /*border: solid 1px #ccc;*/
    padding: 5px;
}

.text-bold {
    font-weight: bold;
}

.dashboard-anchor-plan-review {
    display: inline-block;
}

.body-content {
    margin-top: 50px;
    max-width: 100% !important;
 /*   margin-bottom: 350px;*/
}

.navbar {
    border-radius: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
}

.topNavBar {
    padding: 0px;
    box-shadow: 0 1px 2px 0 #939393 !important;
    background-color: #f1f9ff;
}

.topNavBar-container {
    margin: 0px;
    width: 100%;
    padding: 0px !important;
}

.navBarTitle {
    margin-left: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

a.nav-link.nav-link-basic:hover {
    color: white !important;
    text-decoration: none !important;
}

.navBarItems {
    display: flex;
}

    .navBarItems a {
        color: white;
        margin: 5px;
        padding: 5px;
        font-weight: bold;
    }

        .navBarItems a:hover, .navBarItems a:focus {
            color: #fff !important;
            background: #0f2940;
            border-radius: 4px;
            transition: all 0.2s ease-in;
            text-decoration: none;
        }

.navbarContainer {
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    height: auto !important;
    width: 164px !important;
    margin: 0px 0px 0px 5px !important;
}

.userSettingDropContainer {
    background-color: #006381 !important;
}

.navbar-header {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-areas: "header . . rightNavBar1";
    align-content: center;
    flex-direction: row;
    margin: 0;
    margin-left: 0 !important;
}

.navBarIdentity {
    display: flex;
    align-items: center;
    grid-area: header;
    justify-content: center;
}

.navBarIdentityHome {
    display: flex;
    flex-direction: column;
}

.navBar-decor {
    grid-area: rightNavBar1;
}

    .navBar-decor::before {
        content: " ";
        background: url(https://HOUSINGAPP.lacity.org/CentralIDM/serviceportal/images/patch-lg.png);
        display: flex;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 55px;
        padding-left: 75px;
        margin-bottom: 0;
    }

.navbar-brand {
    font-size: 14px !important;
    padding: 0px !important;
    margin-left: 8px !important;
    height: 40px !important;
}

.navbar-nav {
    display: flex;
    margin: 2px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}


    .navbar-nav > li > a {
        color: white;
    }

#rightMenu {
    align-items: center;
    justify-content: end;
    margin-left:auto;
}

.nav-link {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.nav-item {
    margin: auto !important;
}

.bottomNavBar {
    display: flex;
    align-items: center;
    background: #2C3E5C; /*#001D80*/
    height: 55px;
    position: fixed;
    width: 100%;
    top: 55px;
    z-index: 1000;
    -webkit-transition: top .2s ease-out;
    transition: top .2s ease-out;
    color: white;
}


/* .navItem-decor {
    border-right: 1px solid white;
} */

#rightMenu {
    display: flex;
    height: 47px;
}

.Header_helpButton {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 3px 10px;
    margin-right: 15px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .Header_helpButton:hover {
        color: #006381 !important;
        background: #fff;
        justify-content: center;
    }

#loginLink, #registerLink, #btnMyAccount {
    margin-right: 20px;
    justify-content: center;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px 15px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 600;
    height: 35px;
}

#loginLink {
    color: white; 
    background-color: #1d4ed8;
}
#registerLink {
    background-color: white;
    color: #1d4ed8;
}
#btnMyAccount {
    background-color: white;
    color: red;
}

.SignInContatiner {
    margin-right: 0px;
}

    .SignInContatiner .navbar-right {
        font-size: 16px;
    }

    .smallView-menu {
        margin-left: 25px;
        background-color: transparent !important;
        border: 1px solid white !important;
        color: white;
        padding: 2px;
    }

.lft-dropdown {
    position: unset !important;
}

.lft-dropdown-menu {
    padding: 0px;
    line-height: 4rem;
    border: 0px;
}

.smallView-menu:hover, .smallView-menu:focus {
    color: white !important;
}

.open > .lft-dropdown-menu {
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    /*top: 160px;*/
    background: rgba(236,236,236,1);
    z-index: 99;
    border-radius: 0 0 10px 10px;
    padding: 0;
    box-shadow: 0 2px 4px rgb(1 40 51 / 29%);
}

.dropdown-menu {
    border-width: 0px !important;
}

.dropdown-item {
    text-decoration: none !important;
    width: 100%;
    display: flex;
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 15px;
}

.toggle-li-item a:hover {
    background-color: #097090;
    color: #fff !important;
    text-decoration: none;
}

.lft-dropdown-list {
    margin-bottom: 0 !important;
}

.toggle-li-decor {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.smallView-menu.btn {
    padding: 3px !important;
    margin-bottom: auto !important;
}

#logoutForm .nav .open > a {
    background-color: #006381 !important;
}

.panel {
    border: 1px solid #ababab !important;
}

@@media screen and (min-width: 992px) {
    .container {
        width: 100% !important;
    }
}

@@media screen and (min-width: 768px) {
    .container {
        width: 100% !important;
    }

    .navBarIdentity {
        height: 55px;
    }
}

@@media screen and (max-width: 991px) {
    .navBarTitle {
        display: none;
    }

    .botNav-left-hide {
        display: none;
    }

    .Header_helpButton {
        font-size: 0;
    }

    .question-icon {
        margin-right: 0px !important;
    }

    .standardReportContainer {
        margin-top: -14px;
    }
}

@@media screen and (min-width: 991px) {
    .dropdown {
        display: none;
    }
}


@@media screen and (min-width: 375px) and (max-width: 605px) {
    .navBarItems {
        flex-direction: column;
    }
}

.sticky {
    position: fixed;
    top: 0;
}

.menu-padding {
    padding-top: 40px;
}

@@media screen and (max-width: 767px) {
    li.dropdown.open {
        margin-top: 95px;
        margin-right: 0px;
    }

        li.dropdown.open.a {
            height: 60px;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}



.btn-primary.disabled, .btn-primary {
    color: #fff;
    background-color: #003399;
    border-color: #003399;
}


.accordion-button {
    color: #003399 !important;
    background-color: white !important;
    font-weight: bold;
    font-size: 18px;
}


/* CSS used here will be applied after bootstrap.css */

.glyphicon-nav {
    width: 18px;
    padding: 8px 0;
    position: relative;
    display: inline-block;
}

    .glyphicon-nav:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        top: 0px;
    }

    .glyphicon-nav:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 0px;
        height: 2px;
        width: 100%;
        background: white;
    }


.text-right {
    text-align: right;
}

.dropzone {
    border: 2px dashed #dedede;
    border-radius: 5px;
    background: #f5f5f5;
}


    .dropzone .dz-message {
        font-weight: 500;
        font-size: initial;
    }

.paginate_button {
    padding: 0 !important;
}

.modal-footer.multi-button.btn-margin {
    margin: 0 -15px -20px;
}

.modal-footer.multi-button button.btn.btn-Cancel {
    background: #ededed;
}

.modal-footer.multi-button button {
    border-radius: 0
}

.modal-content .multi-button button {
    width: 100%;
    padding: 10px 15px;
    margin: 0
}

.modal-content {
    border: 0
}

    .modal-content .modal-header {
        align-items: center;
        border-bottom: 0;
        padding: 15px
    }

        .modal-content .modal-header .modal-title {
            margin-bottom: 0;
            line-height: 1.5;
            font-size: 20px;
            font-weight: bold
        }

    .modal-content .modal-body.fixedheight {
        max-height: 400px;
        overflow: auto
    }

    .modal-content .modal-body {
        padding: 20px 15px
    }

        .modal-content .modal-body span.text-danger.asterisk-lg {
            font-size: 20px !important
        }

    .modal-content .modal-footer {
        border-top: 0;
        padding: 0;
        display: flex
    }

    .modal-content .singal-button button {
        width: 100%;
        padding: 10px 15px;
        margin: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        cursor: pointer
    }

        .modal-content .singal-button button:hover {
            background-color: #1a7ca5;
            box-shadow: 0 0 0 0 white,0 0 0 0 #003399
        }

    .modal-content .multi-button button {
        width: 100%;
        padding: 10px 15px;
        margin: 0
    }

    .modal-content .multi-button .btn-primary {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

        .modal-content .multi-button .btn-primary:hover {
            box-shadow: 0 0 0 0 white,0 0 0 0 #003399
        }

    .modal-content .multi-button .btn.btn-light {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0
    }

        .modal-content .multi-button .btn.btn-light:hover {
            box-shadow: 0 0 0 0 #d3d3d3,0 0 0 0 #d3d3d3
        }

.modal-footer {
    flex-wrap: inherit !important;
}

.modal-header .btn-close {
    padding: 7px;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: bold;
}

.edit-button{
    padding:2px 10px;
    border-radius: 5px;
}

.background-green{
    background-color: green;
}

.dashboard-font-awesome-completed-step {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900 !important;
    color: #fff !important;
}


@media screen and (max-width:992px) {
    ._hcidla-service-portal-header {
        font-size: 12px;
    }

        ._hcidla-service-portal-header ._maine-project-links {
            display: none;
        }

    ._hcidla-service-portal-header-subtitle {
        display: flex;
    }

        ._hcidla-service-portal-header-subtitle ._sub-right-arrow {
            min-width: 60px;
            min-height: 40px;
            background: #086f8e;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }

            ._hcidla-service-portal-header-subtitle ._sub-right-arrow img {
                width: 35px;
            }

        ._hcidla-service-portal-header-subtitle ._subtitlemain {
            width: 100%;
            min-height: 40px;
            background: #80d4ef;
            font-weight: bold;
            padding: 5px 15px;
            display: flex;
            align-items: center;
            color: #00345c;
            text-transform: uppercase;
        }

    ._hcidla-service-portal-footer ._footer-logo,
    ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm,
    ._hcidla-service-portal-footer ._address-contact-subscribe,
    ._hcidla-service-portal-footer ._FooterCenterBtm ._Disclaimer {
        padding: 10px 15px 5px;
    }

    ._hcidla-service-portal-footer ._address-contact-subscribe {
        flex-wrap: wrap;
        justify-content: center;
    }

        ._hcidla-service-portal-footer ._address-contact-subscribe ._subscribe-button {
            margin-left: 0 !important;
            margin-top: 15px;
        }

        ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont,
        ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links {
            justify-content: center;
        }

    ._hcidla-service-portal-footer ._Leadership-SocialMedia {
        justify-content: center;
    }

        ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia {
            margin-left: 0 !important;
            padding-top: 15px;
            justify-content: center;
        }

    ._hcidla-service-portal-footer ._footer-logo {
        text-align: center;
    }

    ._hcidla-service-portal-footer ._FooterCenterBtm ._Disclaimer {
        text-align: center;
    }

    ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm {
        justify-content: center;
    }

        ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._TermsCondition {
            margin-left: 0 !important;
            margin-top: 15px;
        }
}

@media screen and (max-width:600px) {
    ._hcidla-service-portal-header .myhousing img.housing-right {
        width: 14px;
        margin-right: 0;
        display: flex;
    }

    ._hcidla-service-portal-header .myhousing span.my-housingtext {
        display: none;
    }

    ._hcidla-service-portal-header ._ul-menus-list li img._right-arrow {
        margin-right: 10px;
        display: none;
    }
}

._hcidla-service-portal-footer {
    background-color: #e5e5e5;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

/*    ._hcidla-service-portal-footer * {
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }*/

    ._hcidla-service-portal-footer ._footer-logo {
        padding: 10px 35px 5px;
    }

        ._hcidla-service-portal-footer ._footer-logo img._img-responsive {
            width: 135px;
        }

    ._hcidla-service-portal-footer ._address-contact-subscribe {
        display: flex;
        align-items: center;
        padding: 0 35px 14px;
        margin-bottom: 0;
    }

        ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
            text-transform: uppercase;
        }

            ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li {
                position: relative;
                border-right: 0 solid #003399 !important;
                background-color: transparent;
                padding: 0 25px 0 0;
                display: flex;
                color: #003399;
            }

                ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li > span {
                    display: flex;
                    align-items: center;
                    text-transform: capitalize;
                }

                ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li img {
                    margin-right: 8px;
                }

                ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li:last-child {
                    border-right: 0 solid #003399 !important;
                    padding-right: 0;
                }

                ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li:first-child {
                    padding-left: 0;
                }

                    ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li:first-child > a {
                        padding-left: 0;
                    }

                ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li > a {
                    padding: 0;
                    font-size: 14px;
                    text-decoration: none;
                    position: relative;
                    text-transform: capitalize;
                    display: flex;
                    align-items: center;
                    color: #003399;
                }

                    ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li > a ._text {
                        margin-left: 0;
                    }

                    ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li > a:hover {
                        text-decoration: underline;
                    }

/*        ._hcidla-service-portal-footer ._address-contact-subscribe ._subscribe-button {
            font-size: 15px;
            color: #fff;
            outline: none;
            padding: 6px 30px;
            border: 0;
            border-radius: 40px;
            background: #003399;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-left: auto;
            letter-spacing: .5px;
            font-weight: 400;
            white-space: nowrap;
        }

            ._hcidla-service-portal-footer ._address-contact-subscribe ._subscribe-button:hover {
                background: #006381;
            }

            ._hcidla-service-portal-footer ._address-contact-subscribe ._subscribe-button:focus {
                background: #006381;
                outline: auto 5px -webkit-focus-ring-color;
            }*/

/*            ._hcidla-service-portal-footer ._address-contact-subscribe ._subscribe-button img._subscribe-icon {
                width: 27px;
                margin-right: 15px;
            }*/

    ._hcidla-service-portal-footer ._Leadership-SocialMedia {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 35px 13px 35px;
    }

        ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
            flex-wrap: wrap;
        }

            ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links li {
                position: relative;
                border-right: 0 solid #003399 !important;
                background-color: transparent;
                padding: 0 8px 0 8px;
                display: flex;
            }

                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links li:last-child {
                    border-right: 0 solid #003399 !important;
                }

                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links li:first-child {
                    padding-left: 0;
                }

                    ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links li:first-child > a {
                        padding-left: 0;
                    }

                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links li > a {
                    padding: 0;
                    font-size: 14px;
                    text-decoration: none;
                    position: relative;
                    text-transform: capitalize;
                    display: flex;
                    align-items: center;
                    color: #003399;
                }

                    ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links li > a ._text {
                        margin-left: 5px;
                    }

                    ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links li > a:hover {
                        text-decoration: underline;
                    }

        ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia {
            margin-left: auto;
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0;
            flex-wrap: wrap;
            margin-bottom: 0;
            padding-right: 0;
            padding-top: 10px;
        }

            ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li {
                margin-right: 35px;
            }

                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li a._Sm-facebook:hover,
                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li a._Sm-facebook:focus {
                    background: #3b5998;
                }

                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li a._Sm-instagram:hover,
                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li a._Sm-instagram:focus {
                    background: linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
                }

                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li a._Sm-twitter:hover,
                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li a._Sm-twitter:focus {
                    background: #1c9deb;
                }

                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li a._Sm-youtube:hover,
                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li a._Sm-youtube:focus {
                    background: #f80000;
                }

                ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li > a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #013b4c;
                    width: 32px;
                    height: 32px;
                    border-radius: 32px;
                }

                    ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li > a img {
                        width: 18px;
                        height: 18px;
                    }

    ._hcidla-service-portal-footer ._FooterCenterBtm {
        background: #2C3E5C;
        color: #fff;
        padding: 15px 0 0 0;
    }

        ._hcidla-service-portal-footer ._FooterCenterBtm ._Disclaimer {
            padding: 8px 35px 7px;
        }

            ._hcidla-service-portal-footer ._FooterCenterBtm ._Disclaimer .Disclaimer-text {
                margin-bottom: 10px;
                line-height: 20px;
                font-size: 13px;
            }

        ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px 35px;
            border-top: 0 solid #113851;
        }

            ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._rightsreserved {
                display: flex;
                align-items: center;
            }

                ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._rightsreserved img._LAlogoBtm {
                    width: 35px;
                    margin-right: 15px;
                }

            ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._TermsCondition {
                margin-left: auto;
                display: flex;
                align-items: center;
                list-style: none;
            }

                ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._TermsCondition li {
                    margin-right: 14px;
                }

                    ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._TermsCondition li a {
                        color: #fff;
                        text-decoration: none;
                    }

                        ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._TermsCondition li a:hover {
                            text-decoration: underline;
                        }

                    ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._TermsCondition li:last-child {
                        margin-right: 0;
                    }

@media only screen and (max-width:766px) {
    ._hcidla-service-portal-footer ._Leadership-SocialMedia ul._SocialMedia li:last-child {
        margin-right: 0;
    }

    ._hcidla-service-portal-footer ._footer-logo img._img-responsive {
        width: 60px;
    }

    ._hcidla-service-portal-footer ._footer-logo {
        padding: 10px;
        text-align: center;
    }

    ._hcidla-service-portal-footer ._address-contact-subscribe {
        padding: 10px;
    }

        ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont li {
            padding: 0;
            margin-right: 10px;
            margin-bottom: 10px;
        }

    ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm {
        padding: 10px;
    }

    ._address-contact-subscribe ._subscribe-button {
        margin: auto;
    }

    ._Leadership-SocialMedia {
        padding: 10px !important;
    }

        ._Leadership-SocialMedia ul.Opportunities-links li {
            padding: 0 !important;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        ._Leadership-SocialMedia ul._SocialMedia li:first-child {
            margin-left: 0;
        }

        ._Leadership-SocialMedia ul._SocialMedia {
            margin: auto !important;
            padding: 10px 0 5px !important;
        }

    ._FooterCenterBtm {
        padding: 0 !important;
    }

        ._FooterCenterBtm ._Disclaimer {
            padding: 10px !important;
            text-align: center;
        }

            ._FooterCenterBtm ._Disclaimer p.Disclaimer-text:last-child {
                margin-bottom: 0 !important;
            }

    ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._TermsCondition {
        margin: auto;
        padding-top: 10px;
        flex-wrap: wrap;
    }

    ._hcidla-service-portal-footer ._address-contact-subscribe ._add-cont {
        justify-content: center;
    }

    ._hcidla-service-portal-footer ._Leadership-SocialMedia ul.Opportunities-links {
        justify-content: center;
    }

    ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._rightsreserved {
        flex-direction: column !important;
        text-align: center;
    }

        ._hcidla-service-portal-footer ._FooterCenterBtm ._FooterBtm ._rightsreserved img._LAlogoBtm {
            margin: 10px 0 !important;
        }

    ._hcidla-service-portal-footer ._address-contact-subscribe ._subscribe-button {
        padding: 4px 15px !important;
        margin: 10px 0;
    }
}



/*====New Site Information Page==============*/
/* Style the tab */
.tab {
    overflow: hidden;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        color: #003399;
        font-weight: bold;
        border: solid 1px;
        background-color: white;
        min-width: 150px;
    }

/* Style the buttons that are used to open the tab content */
.siteInformationPage .tab button {
    padding: 14px 14px;
    color: #113F67;
    min-width: 50px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #113F67;
    color: white;
    border: solid 1px #113F67;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #113F67;
    color: white;
    border: solid 1px #113F67;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    min-height: 200px;
}

.site-summary {
    border: solid 1px #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
}

.site-title {
    color: #003399;
    font-size: 23px;
    margin-bottom: 15px;
}

#dtSiteData_wrapper {
    margin-top: 20px;
}

.site-more-info {
    color: #003399;
    font-size: 18px;
    /*  text-decoration: underline;*/
    padding: 10px 0px;
    margin-top: 15px;
}

.row-box {
    border: solid 1px #ddd;
    min-height: 42px;
    border-radius: 5px;
    display: inline-flex;
    width: 100%;
}

.row-title {
    background-color: #f4f4f4;
    padding: 10px;
    border-right: solid 1px #ddd;
}

table .row-title {
    padding-bottom: 13px;
}

.lelf-border {
    background-color: #f4f4f4;
    padding: 10px;
    border-left: solid 1px #ddd;
}

.siteInformationPage .row-box {
    border: solid 1px #ddd;
    min-height: 42px;
    border-radius: 5px;
    display: inline-flex;
    width: 100%;
}

.siteInformationPage .row-title {
    background-color: #f4f4f4;
    padding: 10px;
    border-right: solid 1px #ddd;
}

.link a {
    margin-bottom: 10px;
    display: inline-block;
}

.row-text {
    padding: 10px;
    min-width: 50px;
}

.dataTable {
    width: 100% !important;
}

.dataTables_length label {
    display: inline-flex !important;
}

.dataTables_filter label {
    display: inline-flex !important;
}



.dataTables_filter {
    float: right;
}

    .dataTables_filter input {
        height: 38px;
        border: 1px solid #e4e4e4;
        margin: 0px 9px;
        margin-top: -10px;
    }

.dataTables_length select {
    border: solid 1px;
    height: 38px;
    border: 1px solid #e4e4e4;
    margin: 0px 9px;
    margin-top: -10px;
    width: 80px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #003399;
    border-color: #003399;
}

.pagination .page-link {
    padding: 10px;
    margin-right: 5px;
    margin-top: -10px;
    border: solid 1px #003399;
}


.Case-deatils {
    background-color: #fff !important;
    border: solid 1px #ddd;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
}

    .Case-deatils ul {
        border: solid 1px #ddd;
        min-height: 42px;
        border-radius: 5px;
        display: inline-flex;
        width: 100%;
        margin-bottom: 20px;
    }

    .Case-deatils.Case-addrees .Case-addrees-line-2 {
        border-top: 0px dashed #000;
        padding-top: 0px;
    }

    .Case-deatils li {
        padding: 10px;
        border-right: solid 1px #ddd;
        border-left: solid 1px #ddd;
        color: #4d4d4d;
    }

    .Case-deatils.Case-addrees ul.Case-addrees-ul li {
        display: flex;
        margin-right: 0px;
        border-right: 0px solid #000 !important;
        padding: 0px;
        margin-bottom: 0px;
    }

    .Case-deatils li .bold {
        background-color: #f4f4f4;
        padding: 10px;
        border-right: solid 1px #ddd;
        font-weight: normal !important;
    }

    .Case-deatils.Case-addrees ul.Case-addrees-ul li span.cd-value {
        margin-left: 15px;
        padding-top: 10px;
        padding-right: 10px;
    }

    .Case-deatils.Case-addrees ul.Case-addrees-ul {
        margin-bottom: 15px;
    }

#siteInformationPopup .modal-dialog {
    max-width: 80% !important;
}

#siteInformationPopupBody .event-date {
    z-index: 1;
    padding: 12px 5px;
}

#siteInformationPopupBody .event-name {
    padding: 12px 5px;
}

#siteInformationPopupBody #CreateProjectCase th:nth-of-type(2) {
    width: 110px;
}

.modal table td,
.modal table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.modal tbody tr:nth-of-type(even) {
    background-color: #fff !important;
}

.modal tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}

#dtSiteData_wrapper .paging_numbers {
    DISPLAY: FLEX;
}

#dtSiteData_wrapper .select-site-title {
    font-size: 16PX;
    FONT-WEIGHT: BOLD;
    padding-top: 10PX;
    min-width: 100px;
    padding-right: 10px;
}

#dtSiteData_wrapper .pagination .page-link {
    display: table-cell !important;
}

#dtSiteData_wrapper .pagination li {
    margin-bottom: 5px;
}

#dtPrkingData_wrapper .paging_numbers {
    DISPLAY: FLEX;
    MARGIN-LEFT: 25PX;
}

#dtPrkingData_wrapper .select-site-title {
    font-size: 16PX;
    FONT-WEIGHT: BOLD;
    padding-top: 10PX;
    min-width: 135px;
}

#dtPrkingData_wrapper .pagination .page-link {
    display: table-cell !important;
}

#dtPrkingData_wrapper .pagination li {
    margin-bottom: 5px;
}


/*==Kendo Grid==*/
.k-window-actions {
    padding: 0px;
}

.k-grid-add {
    float: right;
    padding: 10px;
    border-right: solid 1px #ddd;
}

.k-grid .k-command-cell > .k-button {
    padding: 5px;
    margin: 2px 0px;
}

.k-command-cell {
    display: flex;
}

.k-grid-edit, .k-grid-update {
    background-color: #113F67 !important;
    color: #fff !important;
}

.k-grid-delete, .k-grid-cancel {
    background-color: #d3d3d3 !important;
    color: #4d4d4d !important;
}

.k-grid-toolbar {
    background-color: #f4f4f4 !important;
}

.k-list-scroller {
    overflow: auto;
    scroll-behavior: auto;
}

.k-grid table {
    width: 100% !important;
}

    .k-grid table th {
        color: #4d4d4d !important;
        font-size: 14px;
        font-weight: bold;
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .k-grid table td {
        padding: 0 10px;
        border-top: 1px solid #dee2e6;
        vertical-align: middle;
    }

.k-loading-image {
    background-image: none
}

.totalGrid th {
    color: #4d4d4d !important;
    font-size: 14px;
    font-weight: bold;
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
    background-color: #f4f4f4 !important;
}

.totalGrid td {
    padding: 5px 10px !important;
    border: 1px solid #dee2e6 !important;
}

.k-grid-header-title {
    font-size: 17px;
    color: #4d4d4d;
    width: 100%;
    font-weight: bold;
    padding: 8px;
    line-height: 40px;
}

.k-box-header {
    margin-top: 20px;
    font-size: 15px;
    color: gray;
    width: 100%;
    font-weight: bold;
    padding: 8px;
}

.k-box-body {
    width: 100%;
    padding: 8px;
    border: 1px solid #dee2e6;
}

.k-box-body-header {
    color: #4d4d4d !important;
    font-size: 14px;
    font-weight: bold;
    padding: 0.75rem;
    vertical-align: top;
    background: #f4f4f4 !important
}

.hide-hover .k-grid tr:hover {
    background-color: inherit !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: flex-start !important;
}

.yesno_radio {
    padding: 0px !important;
    font-size: 14px !important;
}

#unitKgrid .k-dropdown-wrap {
    min-height: 30px;
    border: solid 1px darkgray
}

#unitKgrid .k-select {
    padding-top: 3px;
}

.k-list {
    border: solid 1px darkgray !important;
}

.k-list-scroller {
    min-width: 200px;
}

.k-list .k-item {
    padding: 5px 5px;
    border-bottom: solid 1px gray;
    min-width: 200px;
}

#unitKgrid .k-textbox {
    min-height: 30px;
    border: solid 1px darkgray
}

#unitKgrid input[type=checkbox] {
    height: 18px;
    width: 18px;
}


/*====New Site Information Page==============*/
/* Dashboad pop window style fix */
#projectForm .form-control{ 
    padding:18px 15px;
}

project-notifications{ width:100%; max-width:1600px; margin:0 auto 20px;}
.project-notifications p {
    color: #fff;
    font-size:18px;
    margin-bottom:0px;
}

    .project-notifications p a {
        color: #fff;
        text-decoration: underline;
    }

        .project-notifications p a:hover {
            color: #fff;
            text-decoration: none;
        }

.bg-warning1 {
    background-color: #CA6E24 !important;
}

/* UI Developer Bootstrap override classes  */
/* Buttons */
.btn-primary {
    color: #fff !important;
    background-color: #113F67 !important;
    border-color: #113F67 !important;
}

    .btn-primary:hover {
        color: #fff !important;
        background-color: #34699A !important;
        border-color: #34699A !important;
    }

    .btn-primary.focus, .btn-primary:focus {
        color: #fff !important;
        background-color: #34699A !important;
        border-color: #34699A !important;
        box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff !important;
        background-color: #34699A !important;
        border-color: #34699A !important;
    }

.btn-warning {
    color: #fff !important;
    background-color: #CA6E24 !important;
    border-color: #CA6E24 !important;
}

    .btn-warning:hover {
        color: #fff !important;
        background-color: #B3672A !important;
        border-color: #B3672A !important;
    }

    .btn-warning.focus, .btn-warning:focus {
        color: #fff !important;
        background-color: #B3672A !important;
        border-color: #B3672A !important;
        box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
    }

    .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
        color: #fff !important;
        background-color: #B3672A !important;
        border-color: #B3672A !important;
    }

.btn-info {
    color: #fff !important;
    background-color: #4771A6 !important;
    border-color: #4771A6 !important;
}

    .btn-info:hover {
        color: #fff !important;
        background-color: #3E6393 !important;
        border-color: #3E6393 !important;
    }

    .btn-info.focus, .btn-info:focus {
        color: #fff !important;
        background-color: #3E6393 !important;
        border-color: #3E6393 !important;
        box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
    }

    .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
        color: #fff !important;
        background-color: #3E6393 !important;
        border-color: #3E6393 !important;
    }
    .btn-lg{
        font-size:16px;
        padding:12px 15px;
    }
    .btn{
        border-radius:6px;
    }
    .btn-pill {
        border-radius:10em;
    }
/* End Buttons */
/* Alerts */
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
/* End Alerts */

/* LAHD Large Container */
.container-lahd {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
/* End LAHD Large Container */

/* Text Colors */
.text-primary {
    color: #113F67 !important;
}
/* End Text Colors */

/* Backgrounds colors */
.bg-primary {
    background-color: #113F67 !important;
}
/* End Backgrounds colors */

/* Font Size */
.font-14 {
    font-size: 14px;
}
.font-15{ 
    font-size:15px;
}
/* End Font Size */

/* UI Developer Bootstrap override classes  */