html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;  
}

/* application styles */
.dashboard-summary-container {
    width: 18%;
    border: solid 1px #dadada;
    display: inline-block;
    float: left;
    height: 300px;
}
.dashboard-summary-header {
    background-color: #DADADA;
    padding: 5px;
    width: 100%;
    display: inline-block;
    border-bottom: solid 1px #a0a0a0;
}
.text-color{
    color:darkslategray;
}
.welcome-box {
    width: 100%;
    /*border: solid 1px #ccc;*/
    text-align: center;
    margin-bottom: 10px;
}
.dashboard-content {
    width: 100%;
    /*border: solid 1px #ccc;*/
    padding: 5px;
}