@page
@model DeveloperPortal.Pages.DashboardModel

<div class="welcome-box">
    <h2 style="color:#135B79">Welcome to your Dashboard</h2>
    <span class="text-color">You are logged in as ananthalvan.soundararajan@@lacity.org</span>
</div>
<div class="dashboard-content">

    <h3 style="color:#135B79">My Projects</h3>

    <div style="width:100%;justify-content:space-between;display:flex">
        <div class="dashboard-summary-container">
            <span class="dashboard-summary-header text-color">New Projects Submitted</span>
        </div>
        <div class="dashboard-summary-container">
            <span class="dashboard-summary-header text-color">Plan Review</span>
        </div>
        <div class="dashboard-summary-container">
            <span class="dashboard-summary-header text-color">Site Inspection</span>
        </div>
        <div class="dashboard-summary-container">
            <span class="dashboard-summary-header text-color">NAC</span>
        </div>
        <div class="dashboard-summary-container">
            <span class="dashboard-summary-header text-color">Completed Certification</span>
        </div>
    </div>
</div>
@{

}
