@using DeveloperPortal.Domain.FundingSource
@model FundingSourceViewModel

<form id="editFundingSourceForm" method="post">
    @* The modal-header is rendered in the main view, but you can include it here to make this partial view reusable *@
    <div class="modal-header">
        <h5 class="modal-title" id="AddFileModalLabel">Edit Funding Source</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <input type="hidden" asp-for="FundingSourceId" />

        <div class="form-group mb-3">
            <label asp-for="FundingSource" class="form-label"></label>
            <input asp-for="FundingSource" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <label asp-for="FileName" class="form-label"></label>
            <input asp-for="FileName" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <label asp-for="Notes" class="form-label"></label>
            <textarea asp-for="Notes" class="form-control"></textarea>
        </div>

        <div class="form-group mb-3">
            <label asp-for="MU_Unit" class="form-label"></label>
            <input asp-for="MU_Unit" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <label asp-for="HV_Unit" class="form-label"></label>
            <input asp-for="HV_Unit" class="form-control" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="uploadFile" type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

<script>
    $('#editFundingSourceForm').submit(function(e) {
        e.preventDefault();
        var formData = $(this).serialize();

        $.ajax({
            url: '@Url.Action("Update", "FundingSource")',
            type: 'POST',
            data: formData,
            success: function(response) {
                if (response.success) {
                    $('#editFundingSourceModal').modal('hide');
                    loadFundingInformation(); // This function should be in your main Index.cshtml
                } else {
                    alert('Error saving changes.');
                }
            },
            error: function(xhr, status, error) {
                alert('An error occurred. Please try again.');
            }
        });
    });
</script>