@model DeveloperPortal.DataAccess.Entity.ViewModels.ComCon.ContactDisplayConfig

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Site #</th>
                <th>Contact Name</th>
                <th>Company Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var participant in Model.ContactRender)
                {
                    <tr>
                        <td>@participant.Email</td>
                        <td>@participant.PhoneType</td>
                        <td>@participant.OrganizationId</td>
                        <td>
                            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" data-id="@participant.ProjectSiteId">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">No participants found for this project.</td>
                </tr>
            }
        </tbody>
    </table>
</div>