<div id="divProjectParticipants">
    <div class="k-grid " style="margin-top: 10px; margin-bottom: 0px;">
        <div class="k-header k-grid-toolbar ">
            <span class="k-grid-header-title"> Development Team List</span>
            <button id="btnAddParticipate" class="k-button k-button-icontext k-grid-add no-access" role="button" role-access="true" >Add</button>
        </div>
    </div>
    <div class=" k-box-body" style="    padding-top:20px;">
        <table id="dtParticipants"></table>
    </div>
</div>